body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: yellowgreen;
}

a:not(:hover) {
  text-decoration: none;
}


/* custom styles */

aside {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

aside sl-tree {
  overflow: auto;
}

aside sl-tree-item a:hover {
  text-decoration: none;
}

aside sl-tree-item:hover:has(> a)::part(item) {
  background-color: #27272b99;
}

aside sl-tree-item:has(sl-tree-item[selected])::part(item) {
  background-color: #27272b;
}

aside [role=search]::part(base) {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

#editor, #editor > div {
  height: 100vh;
  width: 100%;
}